
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    margin-top: 35px;
}


.service-container{
    width: 250px;
    margin: 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.service-img img{
    width: 100%;
}

.service-text{
    text-align: center;
}


@media screen and (max-width: 768px) and (min-width: 550px){
    .service-container{
        width: 350px;
        margin-bottom: 35px;
    }
    .service-text h3{
        font-size: 45px;
    }

    .service-text p{
        font-size: 25px;
    }
}