.hexagon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    flex-wrap: wrap;
}

.hexagon{
    position: inherit;
    width: 350px;
    height: 400px;
    margin: 50px 20px 70px;
}

.hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.15),transparent,transparent);
    border-radius: 50%;
    transition: .5s;
}

.hexagon:hover::before{
    opacity: .8;
    transform: scale(.8);
}

.shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon:hover .shape{
    transform: translateY(-30px);
}

.shape h3{
    width: 100%;
    text-align: center;
}

.shape .hexagon-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #03a9f4,rgba(3,169,244,.5)); 
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.hexagon:hover .shape .hexagon-content{
    opacity: 1;
}


